doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Bootstrap 101 Template
    link(href="build/style.css", rel="stylesheet")
  body

    #main
      div(v-view="currentView", v-ref="view")

    ul
      li
        a(href="#/") home
      li
        a(href="#/profile") profile

    script#home(type="x-template")
      div home
      publish-box
      feed-list

    script#profile(type="x-template")
      div profile

    script#publish-box(type="x-template")
      div.panel.panel-default
        div.panel-body
          .well.well-sm {{{parsed || '&nbsp;'}}}
          p
            textarea.form-control.inline-control(v-model="content" placeholder="Publish...")

          a.btn.btn-lg.btn-default.pull-right(v-on="click: post") Post

    script#feed-list(type="x-template")
      ul
        li(v-repeat="posts" v-component="basic-post")

    script#basic-post(type="x-template")
      p {{author}}
      p {{parsed_time}}
      p {{{parsed_content}}}

    script(src="build/bundle.js")
