doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Bootstrap 101 Template
    link(href="build/style.css", rel="stylesheet")
  body

    #main
      nav-bar
      div(v-view="currentView", v-ref="view")

    script#nav-bar(type="x-template")
      nav.navbar.navbar-default(role="navigation")
        .container

          .navbar-header
            button.navbar-toggle.collapsed(type="button", data-toggle="collapse", data-target="#bs-example-navbar-collapse-1")
              span.sr-only Toggle navigation
              span.icon-bar
              span.icon-bar
              span.icon-bar
            a.navbar-brand(href="#") Phoenix

          .collapse.navbar-collapse
            ul.nav.navbar-nav
              li
                a(href="#/") Latest
              li
                a(href="#/profile") Profile

            ul.nav.navbar-nav.navbar-right
              li
                a(href="#") Token

    script#home(type="x-template")
      .container
        .row
          feed-list.col-sm-8
          .col-sm-4
            publish-box
            sync-box

    script#sync-box(type="x-template")
      p Last synced 34 years ago
      .btn-group.btn-group-lg
        button.btn.btn-default(type="button") Sync
        button.btn.btn-default(type="button") Add Feed


    script#profile(type="x-template")
      div profile

    script#publish-box(type="x-template")
      div.panel.panel-default
        div.panel-body
          .well.well-sm {{{parsed || '&nbsp;'}}}
          p
            textarea.form-control.inline-control(v-model="content" placeholder="Publish...")

          a.btn.btn-lg.btn-default.pull-right(v-on="click: post") Post

    script#feed-list(type="x-template")
      div(v-repeat="posts" v-component="basic-post")

    script#basic-post(type="x-template")
      .panel.panel-default
        .panel-heading <strong>{{author}}</strong> - <em>{{parsed_time}}</em>
        .panel-body
          p {{{parsed_content}}}

    script(src="build/bundle.js")
